<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ABOUT</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <p>this is a useless page</p>
        <footer>
            <p>copyright {{currentYear}}</p>
        </footer>
    </body>
</html>